<%= form_for(@article) do |f| %>
<!-- create a form for the object @article, refer to the
form by the name f, and add the following elements to the
form
//-->
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :title %>
    <!-- create HTML label for a field -->
    <br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %>
    <br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
